<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Tadpole Release Check" android:allowBackup="false" android:testOnly="true" />
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.tadpole.instrument" android:functionalTest="true" />
</manifest>
